<h1>Search Results</h1>

<% if @results.present? && @results.is_a?(Array) && @results.any? %>
  <ul>
    <% @results.each do |result| %>
      <li style="margin-bottom: 1rem;">
        <strong><%= result["name"] %></strong>,
        <%= result["country"] %>
        <% if result["admin1"] %>
          (<%= result["admin1"] %>)
        <% end %>

        <br>
        Lat: <%= result["latitude"] %>,
        Lon: <%= result["longitude"] %>

        <%= form_with url: cities_path, method: :post, local: true, style: "display:inline;" do %>
          <%= hidden_field_tag "city[name]", result["name"] %>
          <%= hidden_field_tag "city[country]", result["country"] %>
          <%= hidden_field_tag "city[latitude]", result["latitude"] %>
          <%= hidden_field_tag "city[longitude]", result["longitude"] %>
          <%= hidden_field_tag "city[timezone]", result["timezone"] %>
          <%= hidden_field_tag "city[population]", result["population"] %>
          <%= submit_tag "Save this city", class: "btn" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% elsif @results.is_a?(Hash) && @results["error"] %>
  <p>Error: <%= @results["error"] %></p>
<% else %>
  <p>No results found.</p>
<% end %>

<%= link_to "Back", root_path %>
